{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Welcome, {{ username }}!</h1>
        <p>Welcome to your dashboard</p>
        <a href="{{ url_for('logout') }}" class="btn btn-logout">Logout</a>

        <form id = "auth-form" action="{{ url_for('edit') }}" method="post">
            <input type="text" name="name" placeholder="name" class="input-fieled"/>
            <input type="button" value="Edit" class="btn btn-login" onClick="setActionForm('edit')" />
        </form>
    </div>

    <script>
        function setActionForm(action){
            let form = document.getElementById("auth-form");
            if (action === 'edit'){
                form.action = "{{ url_for('edit') }}";
                form.method = 'post';
                form.submit();
            }
        }
    </script>
{% endblock %}