{% extends 'base.html' %}

{% block title %}
{{ h1 }}
{% endblock %}

{% block content %}
<form action="#" method="post">
    <h1>{{ h1 }}</h1>
    
    <label>
        Korisničko ime: 
        <input type="text" id="username" name="username" value = "{{clan.username}}" required oninvalid="this.setCustomValidity('Unesite korisnicko ime clana')" oninput="this.setCustomValidity('')">
    </label>

    {% if h1 == "Dodaj člana" %}
    <label>
        Lozinka: 
        <input type="password" id="password" name="password" value = "{{clan.password}}" required oninvalid="this.setCustomValidity('Unesite lozinku člana')" oninput="this.setCustomValidity('')">
    </label>
    {% endif %}

    <label>
        Ime: 
        <input type="text" id="first_name" name="first_name" value = "{{clan.first_name}}" required oninvalid="this.setCustomValidity('Unesite ime člana')" oninput="this.setCustomValidity('')">
    </label>
    <label>
        Prezime: 
        <input type="text" id="last_name" name="last_name" value = "{{clan.last_name}}" required oninvalid="this.setCustomValidity('Unesite prezime člana')" oninput="this.setCustomValidity('')">
    </label>
    <label>
        Status: 
        <select id="role" name="role" data-selected="{{clan.role}}">
            <option value="clan">Član</option>
            {% if clan.role == "admin" %}
                <option value="admin" selected>Administrator</option>
            {% else %}
                <option value="admin">Administrator</option>
            {% endif %}
        </select>
    </label>
    <label>
        Datum rođenja: 
        <input type="date" id="dob" name="dob" value = "{{clan.dob}}">
    </label>
    <label>
        Datum učlanjivanja: 
        <input type="date" id="join_date" name="join_date" value = "{{clan.join_date}}">
    </label>
    <label>
        Broj telefona: 
        <input type="tel" id="phone_number" name="phone_number" value = "{{clan.phone_number}}">
    </label>
    <label>
        E-Mail:
        <input type="email" id="email" name="email" value = "{{clan.email}}">
    </label>
    <label>
        Adresa: 
        <input type="text" id="address" name="address" value = "{{clan.address}}" ><br>
    </label>
    <label style="display: flex;">
        Plaćena članarina:
        {% if clan.has_paid %}
            <input type="checkbox" id="has_paid" name="has_paid" checked>
        {% else %}
            <input type="checkbox" id="has_paid" name="has_paid">
        {% endif %}
    </label>
    <label>
        Jedinica: 
        <input type="text" id="jedinica" name="jedinica" value = "{{clan.jedinica}}">
    </label>
    <label>
        Profilna:
        <input type="file">
    </label>

    {% if h1 != "Dodaj člana"%}
    <label>
        Odred: 
        <input type="text" id="odred_id" name="odred_id" value = "{{ odred }}" disabled>
    </label>
    {% endif %}
    
    <input type="text" name="image" hidden id="b64_img">

    <input type="submit" value="{{h1}}" class="btn">
    
    {% if h1 != "Dodaj člana" and clan.id != current_user.id %}
    <a class = 'btn btn-link' href="{{ url_for('odred.deleteClan', id=clan.id) }}" onclick="return confirm('Da li ste sigurni da želite da obrišete ovog člana?');">Obriši člana</a>
    {% endif %}

    <img src="" id="output">
    <button onclick="showImage()">show image</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    let b64 = ''
    const form = document.querySelector('form');

    async function streamToArrayBuffer(stream) {
      const reader = stream.getReader();
      let result = new Uint8Array();
      let done, value;
      while ({ done, value } = await reader.read(), !done) {
        const newResult = new Uint8Array(result.length + value.length);
        newResult.set(result);
        newResult.set(value, result.length);
        result = newResult;
      }
      return result.buffer;
    }


    async function compressData(arrayBuffer) {
      const stream = new CompressionStream('gzip');
      const writer = stream.writable.getWriter();
      writer.write(new Uint8Array(arrayBuffer));
      writer.close();
      
      const compressedArrayBuffer = await streamToArrayBuffer(stream.readable);
      return compressedArrayBuffer;
    }
    
    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const file = document.querySelector('input[type=file]')['files'][0];
        const reader = new FileReader();
        
        reader.onload = async () => {
            const arrayBuffer = reader.result;
            
            const compressedArrayBuffer = await compressData(arrayBuffer);
            const base64Encoded = btoa(String.fromCharCode(...new Uint8Array(compressedArrayBuffer)));
            
            document.getElementById("b64_img").value = base64Encoded;
        }
        reader.readAsArrayBuffer(file);
        
        reader.onloadend = () => {
            event.target.submit();
        }
    });
</script>

    <div class="alerts">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="alert alert-{{ category }}">{{ category }}: {{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>


{% endblock %}