{% extends 'base.html' %}

{% block title %}
Dodaj vod/četu
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='addCetaVod-style.css') }}">
{% endblock %}

{% block content %}
<div class="icon-wrapper">
    <a href="/dashboard"><img src="/static/logo_green.png" alt="Ikona" class="icon-small" /></a>
</div>

<div class="dashboard-grid">
    <div class="left-col">
        <form action="{{ url_for('odred.newVod') }}" method="post" class="styled-form">
            <h2>Dodaj vod</h2>
            <div class="form-group">
                <label for="name">Naziv</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="vodnik">Vodnik</label>
                <select name="vodnik" id="vodnik" class="form-control" required>
                    {% for vodnik in users %}
                    <option value="{{ vodnik.id }}">{{ vodnik.first_name }} {{ vodnik.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="ceta">Četa</label>
                <select name="ceta" id="ceta" class="form-control" required>
                    {% for ceta in cetas %}
                    <option value="{{ ceta.id }}">{{ ceta.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Dodaj" class="interactive">
        </form>
    </div>

    <div class="right-col">
        <form action="{{ url_for('odred.newCeta') }}" method="post" class="styled-form">
            <h2>Dodaj četu</h2>
            <div class="form-group">
                <label for="ceta_name">Naziv</label>
                <input type="text" id="ceta_name" name="name" class="form-control" required>
            </div>
            <input type="submit" value="Dodaj" class="interactive">
        </form>

        <a href="javascript:history.back()" class="interactive">Nazad</a>
    </div>
</div>
{% endblock %}
