{% extends 'base.html' %}

{% block title %}
{{ h1 }}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='addOdred-style.css') }}">
{% endblock %}

{% block content %}
<div class="icon-wrapper">
    <a href="{{ url_for('savez.savezDashboard') }}"><img src="/static/logo_green.png" alt="Ikona" class="icon-small" /></a>
</div>

<div class="dashboard-grid">
    <div class="right-col">
        <form action="#" method="post" class="styled-form" enctype="multipart/form-data">
            <h1>{{ h1 }}</h1>

            <div class="form-group">
                <label for="name">Naziv:</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Naziv Odreda" value="{% if not odred.name == None %}{{ odred.name }}{% endif %}" required>
            </div>

            <div class="form-group">
                <label for="city">Grad:</label>
                <input class="form-control" type="text" name="city" id="city" placeholder="Beograd" value="{% if not odred.city == None %}{{ odred.city }}{% endif %}" required>
            </div>

            <div class="form-group">
                <label for="address">Adresa:</label>
                <input class="form-control" type="text" name="address" id="address" placeholder="Ulica i broj" value="{% if not odred.address == None %}{{ odred.address }}{% endif %}" required>
            </div>

            <div class="form-group">
                <label for="email">E-pošta:</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="odred@izvidjaci.com" value="{% if not odred.email == None %}{{ odred.email }}{% endif %}" required>
            </div>

            <div class="form-group">
                <label for="founded_at">Datum osnivanja:</label>
                <input class="form-control" type="date" name="founded_at" id="founded_at" value="{% if not odred.founded_at == None %}{{ odred.founded_at }}{% endif %}" required>
            </div>

            {% if odred.staresina %}
            <div class="form-group">
                <label for="staresina_username">Starešina odreda:</label>
                <select class="form-control" id="staresina_username" name="staresina_username">
                    {% for clan in clanovi %}
                    <option value="{{ clan.username }}" {% if odred.staresina.id == clan.id %}selected{% endif %}>{{ clan.first_name }} {{ clan.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            {% if odred.nacelnik %}
            <div class="form-group">
                <label for="nacelnik_username">Načelnik odreda:</label>
                <select class="form-control" id="nacelnik_username" name="nacelnik_username">
                    {% for clan in clanovi %}
                    <option value="{{ clan.username }}" {% if odred.nacelnik.id == clan.id %}selected{% endif %}>{{ clan.first_name }} {{ clan.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            <div class="form-group">
                <label for="status">Status:</label>
                <select class="form-control" id="status" name="status" required>
                    <option value="pridružen" {% if odred.status == "pridružen" %}selected{% endif %}>Pridružen</option>
                    <option value="punopravan" {% if odred.status == "punopravan" %}selected{% endif %}>Punopravan</option>
                </select>
            </div>

            <div class="form-group">
                <label for="profile_image">Profilna fotografija:</label>
                <input class="form-control" type="file" id="profile_image">
            </div>

            <input type="text" name="image" hidden id="b64_img">

            <input type="submit" value="{{ h1 }}" class="interactive">

            {% if h1 != "Dodaj odred" and odred.id != current_user.odred.id %}
            <a class="interactive" href="{{ url_for('savez.deleteOdred', id=odred.id) }}" onclick="return confirm('Da li ste sigurni da želite da obrišete ovaj odred?');">Obriši odred</a>
            {% endif %}

            <a href="{{ url_for('savez.savezDashboard') }}" class="interactive">Nazad</a>
        </form>
    </div>
</div>
{% endblock %}