{% extends 'base.html' %}

{% block title %}
{{ h1 }}
{% endblock %}

{% block content %}
<form action="#" method="post">
    <h1>{{ h1 }}</h1>
    <label>
        Naziv:
        <input type="text" name="name" placeholder="Naziv Odreda" value = "{{odred.name}}" required oninvalid="this.setCustomValidity('Unesite naziv odread')" oninput="this.setCustomValidity('')">
    </label>
    <label>
        Grad:
        <input type="text" name="city" placeholder="Beograd" value = "{{odred.city}}" required oninvalid="this.setCustomValidity('Unesite naziv grada')" oninput="this.setCustomValidity('')">
    </label>
    <label>
        Adresa:
        <input type="text" name="address" placeholder="Ulica i broj" value = "{{odred.address}}" required oninvalid="this.setCustomValidity('Unesite adresu odreda')" oninput="this.setCustomValidity('')">
    </label>
    <label>
        Email:
        <input type="email" name="email" placeholder="juzni.savez@gmail.com" value = "{{odred.email}}" required oninvalid="this.setCustomValidity('Unesite adresu elektronske pošte odreda')" oninput="this.setCustomValidity('')">
    </label>
    <label>
        Datum osnivanja:
        <input type="date" name="founded_at" value = "{{odred.founded_at}}" required oninvalid="this.setCustomValidity('Unesite datum osnivanja odreda')" oninput="this.setCustomValidity('')">
    </label>
    <label>
        Korisničko ime staresine:
        <input type="text" name="staresina_username" placeholder="jovan.marinkovic" value = "{{ staresina }}" required oninvalid="this.setCustomValidity('Unesite korisničko ime starešine')" oninput="this.setCustomValidity('')">
    </label>
    <label>
        Korisničko ime načelnika:
        <input type="text" name="nacelnik_username" placeholder="petar.kocic" value = "{{ nacelnik }}" required oninvalid="this.setCustomValidity('Unesite korisničko ime načelnika')" oninput="this.setCustomValidity('')">
    </label>
    <label>
        Status:
        <select id="status" name="status" required>
            <option value="pridružen">Pridružen</option>
            {% if odred.status == "punopravan" %}
            <option value="punopravan" selected>Punopravan</option>
            {% else %}
            <option value="punopravan">Punopravan</option>
            {% endif %}
        </select>
    </label>
    
    <input type="submit" value="{{ h1 }}" class="btn">
    {% if h1 != "Dodaj odred" and odred.id != current_user.odred.id%}
    <a class = 'btn btn-link' href="{{ url_for('savez.deleteOdred', id=odred.id) }}" onclick="return confirm('Da li ste sigurni da želite da obrišete ovaj odred?');">Obriši odred</a>
    {% endif %}
</form>
{% endblock %}