{% extends "base.html" %}

{% block title %}
Aktivnosti
{% endblock %}

{% block content %}

<table class="activities-table">
    <caption>Učešće na aktivnostima</caption>
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Datum održavanja</th>
            <th>Mesto održavanja</th>
            <th>Tip aktivnosti</th>
            <th>Organizator</th>
        </tr>
    </thead>
    {% for activity in current_user.activities %}
    <tbody>
        <tr>
            <td>{{ activity.name }}</td>
            <td>{{ activity.due_date }}</td>
            <td>{{ activity.location }}</td>
            <td>{{ activity.type }}</td>
            <td>{{ activity.organizer_name }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}