{% extends "base.html" %}

{% block title %}
Aktivnosti
{% endblock %}

{% block content %}

<table class="activities-table">
    <caption>Učešće na aktivnostima</caption>
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Datum održavanja</th>
            <th>Mesto održavanja</th>
            <th>Tip aktivnosti</th>
            <th>Organizator</th>
        </tr>
    </thead>
    <tbody>
    {% for activity in current_user.activities %}
        <tr>
            <td>{{ activity.name }}</td>
            <td>{{ activity.due_date.day }}.{{ activity.due_date.month }}.{{ activity.due_date.year }}.</td>
            <td>{{ activity.location }}</td>
            <td>{{ activity.type }}</td>
            <td>{{ activity.organizer_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<input type="button" value="Nazad" class="btn" onclick="window.location.href = '{{ url_for('dashboard.dashboard') }}'">
{% endblock %}