<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="3VIP" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>eScoutID - {% block title %}{% endblock %}</title>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Load the background position from localStorage if available
            const bgPosX = localStorage.getItem('bgPosX') || '0%';
            const bgPosY = localStorage.getItem('bgPosY') || '0%';

            document.documentElement.style.setProperty('--bg-pos-x', bgPosX);
            document.documentElement.style.setProperty('--bg-pos-y', bgPosY);

            // Function to update background position
            const updateBackgroundPosition = () => {
                const computedStyle = getComputedStyle(document.documentElement);
                const currentBgPosX = parseFloat(computedStyle.getPropertyValue('--bg-pos-x'));
                const currentBgPosY = parseFloat(computedStyle.getPropertyValue('--bg-pos-y'));

                const newBgPosX = (currentBgPosX + 0.005) % 100; // Adjust the speed and direction as needed
                const newBgPosY = (currentBgPosY + 0.005) % 100; // Adjust the speed and direction as needed

                document.documentElement.style.setProperty('--bg-pos-x', `${newBgPosX}%`);
                document.documentElement.style.setProperty('--bg-pos-y', `${newBgPosY}%`);

                // Save the new positions to localStorage
                localStorage.setItem('bgPosX', `${newBgPosX}%`);
                localStorage.setItem('bgPosY', `${newBgPosY}%`);
            };

            // Update the background position every frame
            setInterval(updateBackgroundPosition, 10); // Adjust the interval as needed

            // Save the background position before the page unloads
            window.addEventListener('beforeunload', () => {
                const computedStyle = getComputedStyle(document.documentElement);
                localStorage.setItem('bgPosX', computedStyle.getPropertyValue('--bg-pos-x'));
                localStorage.setItem('bgPosY', computedStyle.getPropertyValue('--bg-pos-y'));
            });
        });
    </script>


</head>
<body>
    <nav>
        <a href="{{ url_for('auth.index') }}">
            <img src="/static/logo_light.png" alt="eScoutID logo">
        </a>
        {% if not current_user.is_anonymous %}
        <ul>
            {% if current_user.role == "savez_admin" %}
            <li>
                <a href="{{ url_for('savez.savezDashboard') }}">
                    Edit savez
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{{ url_for('dashboard.dashboard') }}">
                    Moj nalog
                </a>
            </li>
            <li>
                <a href="{{ url_for('odred.odred') }}">
                    Odred
                </a>
            </li>
            <li>
                <a href="{{ url_for('auth.logout') }}">
                    Odjavi me
                </a>
            </li>
        </ul>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        &copy;2024 3VIP
    </footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>