{% extends 'base.html' %}

{% block title %}
Promeni lozinku
{% endblock %}

{% block content %}
<h1>Promenite svoju lozinku</h1>
<hr>
<form method="post" onsubmit="return validatePassword()">
    <label>Trenutna lozinka
        <input type="password" id="current_password" name="current_password" required>
    </label>
    <label>Nova lozinka
        <input type="password" id="new_password" minlength="6" name="new_password" required>
    </label>
    <label>
        Potvrdite novu lozinku
        <input type="password" id="new_password_check" minlength="6" name="new_password_check" required>
    </label>
    <input type="submit" value="Promeni lozinku" class="btn">
    <a href="{{ url_for('dashboard.dashboard') }}" class="btn btn-link">
        Nazad
    </a>
</form>
{% endblock %}

{% block scripts %}
<script>
function validatePassword() {
    const newPassword = document.getElementById('new_password').value;
    const confirmPassword = document.getElementById('new_password_check').value;

    if (newPassword !== confirmPassword) {
        alert("Nova lozinka i potvrda nove lozinke se ne poklapaju!");
        return false; // Ukoliko je false, neće se poslati na backend
    }
    return true;
}
</script>
{% endblock %}