{% extends 'base.html' %}

{% block title %}
Promeni lozinku
{% endblock %}

{% block content %}
    <h1>Promenite svoju lozinku</h1>
    <hr>
    <form method="post">
    <label>Trenutna lozinka
        <input type="password" id="current_password" name="current_password">
    </label>
    <label>Nova lozinka
        <input type="password" id="new_password" name="new_password">
    </label>
    <label>
        Potvrdite novu lozinku
        <input type="password" id="new_password_check" name="new_password_check">
    </label>
    <input type="submit" value="Promeni lozinku" class="btn">
    <a href="{{ url_for('dashboard.dashboard') }}" class="btn btn-link">
        Nazad
    </a>
    </form>
{% endblock %}