{% extends 'base.html' %}

{% block title %}
Promena korisničkog imena
{% endblock %}

{% block content %}
    <h1>Promenite svoje korisničko ime</h1>
    <hr>
    <form method="post" onsubmit="return validateUsername()">
    <label>Trenutno korisničko ime
        <input type="text" id="current_username" maxlength="25" name="current_username">
    </label>
    <label>Novo korisničko ime
        <input type="text" id="new_username" maxlength="25" name="new_username">
    </label>
    <label>
        Potvrdite novo korisničko ime
        <input type="text" id="new_username_check" maxlength="25" name="new_username_check">
    </label>
    <input type="submit" value="Promeni korisničko ime" class="btn">
    <a href="{{ url_for('dashboard.dashboard') }}" class="btn btn-link">
        Nazad
    </a>
    </form>
{% endblock %}

{% block scripts %}
<script>
function validateUsername() {
    const newUsername = document.getElementById('new_username').value;
    const confirmUsername = document.getElementById('new_username_check').value;

    // Regex koji dozvoljava samo slova, brojeve, podvlaku (_) i tačku (.)
    const usernamePattern = /^[a-zA-Z0-9_.]+$/;

    if (newUsername !== confirmUsername) {
        alert("Novo korisničko ime i potvrda novog korisničkog imena se ne poklapaju!");
        return false;
    }

    if (!usernamePattern.test(newUsername)) {
        alert("Korisničko ime može sadržati samo slova engleskog alfabeta, brojeve, podvlaku (_) i tačku (.)!");
        return false;
    }

    return true;
}
</script>
{% endblock %}
