{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="dash">
    <div class="img-col">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Fotografija">
    </div>
    <div class="data-col">
        <h2 class="ime-prezime">
            {{ current_user.first_name }} {{ current_user.last_name }}
        </h2>
        <div class="columns">
            <div class="left-col">
                <table>
                    <caption>
                        Lične informacije
                    </caption>
                    <tr>
                        <td>Datum rođenja:</td>
                        <td>{{ current_user.dob }}</td>
                    </tr>
                    <tr>
                        <td>Broj telefona:</td>
                        <td>+{{ current_user.phone_number }}</td>
                    </tr>
                    <tr>
                        <td>E-Pošta:</td>
                        <td>{{ current_user.email }}</td>
                    </tr>
                    <tr>
                        <td>Adresa stanovanja:</td>
                        <td>{{ current_user.address }}</td>
                    </tr>
                </table>
            </div>
            <div class="right-col">
                <table>
                    <caption>
                        Odredske informacije
                    </caption>
                    <tr>
                        <td>Datum učlanjenja:</td>
                        <td>{{ current_user.join_date }}</td>
                    </tr>
                    <tr>
                        <td>Jedinica:</td>
                        <td>{{ current_user.jedinica }}</td>
                    </tr>
                    <tr>
                        <td>Zaduženje:</td>
                        <td>{{ current_user.role }}</td>
                    </tr>
                    <tr>
                        <td>Plaćena članarina:</td>
                        <td>
                            {% if current_user.has_paid %}
                            <span class="good">
                                DA
                            </span>
                            {% else %}
                            <span class="bad">
                                NE
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="button-row">
            <a href="{{ url_for('program') }}">
                <input type="button" value="Program" class="btn" />
            </a>
            <a href="{{ url_for('aktivnosti') }}">
                <input type="button" value="Aktivnosti" class="btn" />
            </a>
        </div>
    </div>
</div>

<div class="alerts">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert alert-{{ category }}">{{ category }}: {{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}