{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="dash">
    <div class="img-col">
        <img src="" alt="Fotografija" id="output">
        <h2 class="ime-prezime">
            {{ current_user.first_name }} {{ current_user.last_name }}
        </h2>
    </div>
    <div class="data-col">
        <div class="columns">
            <div class="left-col">
                <table>
                    <caption>
                        Lične informacije
                    </caption>
                    <tr>
                        <td>Datum rođenja:</td>
                        <td>{{ current_user.dob.day }}.{{ current_user.dob.month }}.{{ current_user.dob.year }}.</td>
                    </tr>
                    <tr>
                        <td>Broj telefona:</td>
                        <td>
                            <a href="tel:+{{ current_user.phone_number }}">
                                +{{ current_user.phone_number }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>E-Pošta:</td>
                        <td>
                            <a href="mailto:{{ current_user.email }}">
                                {{ current_user.email }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Adresa stanovanja:</td>
                        <td>{{ current_user.address }}</td>
                    </tr>
                </table>
            </div>
            <div class="right-col">
                <table>
                    <caption>
                        Odredske informacije
                    </caption>
                    <tr>
                        <td>Datum učlanjenja:</td>
                        <td>{{ current_user.join_date.day }}.{{ current_user.join_date.month }}.{{ current_user.join_date.year }}.</td>
                    </tr>
                    <tr>
                        <td>Vod:</td>
                        <td>{{ current_user.vod }}</td>
                    </tr>
                    <tr>
                        <td>Zaduženje:</td>
                        <td>{{ current_user.role }}</td>
                    </tr>
                    <tr>
                        <td>Plaćena članarina:</td>
                        <td>
                            {% if current_user.has_paid %}
                            <span class="good">
                                DA
                            </span>
                            {% else %}
                            <span class="bad">
                                NE
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="button-row">
            <a href="{{ url_for('program.program') }}">
                <input type="button" value="Program" class="btn" />
            </a>
        {% if current_user.role != "savez_admin" %}
            <a href="{{ url_for('aktivnosti.aktivnosti') }}">
                <input type="button" value="Moje aktivnosti" class="btn" />
            </a>
        {% endif %}
            <a href="{{ url_for('dashboard.changePassword') }}">
                <input type="button" value="Promena lozinke" class="btn" />
            </a>
            {% if current_user.role != 'clan' %}
            <a href="{{ url_for('aktivnosti.addAktivnost') }}">
                <input type="button" value="Upravljaj aktivnostima" class="btn" />
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    async function streamToArrayBuffer(stream) {
        const reader = stream.getReader();
        let result = new Uint8Array();
        let done, value;
        while ({ done, value } = await reader.read(), !done) {
            const newResult = new Uint8Array(result.length + value.length);
            newResult.set(result);
            newResult.set(value, result.length);
            result = newResult;
        }
        return result.buffer;
    }

    async function decompressData(arrayBuffer) {
        const stream = new DecompressionStream('gzip');
        const writer = stream.writable.getWriter();
        writer.write(new Uint8Array(arrayBuffer));
        writer.close();

        const decompressedArrayBuffer = await streamToArrayBuffer(stream.readable);
        return decompressedArrayBuffer;
    }

    async function showImage(b64) {
        const compressedFromBase64 = new Uint8Array(atob(b64).split('').map(char => char.charCodeAt(0)));
        const decompressedArrayBuffer = await decompressData(compressedFromBase64);

        const blob = new Blob([decompressedArrayBuffer], { type: 'image' });
        const url = URL.createObjectURL(blob);
        document.getElementById('output').src = url;
    }

    window.onload = async () => {
        fetch(`{{ url_for("odred.getPfp", id = current_user.id ) }}`)
            .then(data => data.text())
            .then(text => {
                if (text !== "default") {
                    showImage(text);
                }
                else {
                    document.getElementById('output').src = "/static/default_pfp.png";
                }
            });
    };
</script>

{% endblock %}