{% extends "base.html" %}

{% block title %}
Login
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login-style.css') }}" />
{% endblock %}

{% block content %}


<div class="login-container">

        <h1 class="login-title">eScoutID</h1>
        <h2 class="login-subtitle">Izviđačke knjižice</h2>

        <img src="/static/logo_green.png" class="login-logo" alt="Large logo">
        <form id="auth-form" class="login-form" action="{{ url_for('auth.login') }}" method="post">
            <label><span class="login-label">Korisničko ime:</span>
                <input type="text" name="username" placeholder="Korisničko ime" class="login-input" autofocus />
            </label>
            <label><span class="login-label">Lozinka:</span>
                <input type="password" name="password" placeholder="Lozinka" class="login-input" />
            </label>

            <input type="submit" value="Prijavi se" class="login-button" onClick="setActionForm('login')" />
        </form>
    </div>


    <script>
        function setActionForm(action){
            let form = document.getElementById("auth-form");
            if (action === 'login'){
                form.action = "{{ url_for('auth.login') }}";
                form.method = 'post';
                form.submit();
            }
        }
    </script>
{% endblock %}
