{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}


<div class="login-container">
        <img src="/static/logo_color_NoStar.png" alt="Large logo">
        <h1>Dobrodošli na eScoutID sistem</h1>
        <form id = "auth-form" action="{{ url_for('auth.login') }}" method="post">
            <label>Korisničko ime:
                <input type="text" name="username" placeholder="Korisničko ime" class="input-fieled"/>
            </label>
            <label>Lozinka:
                <input type="password" name="password" placeholder="Lozinka" class="input-fieled"/>
            </label>

            <input type="submit" value="Prijavi se" class="btn btn-login" onClick="setActionForm('login')" />
            <input type="button" value="Register" class="btn btn-register" onClick="setActionForm('register')"/>
        </form>
    </div>


    <script>
        function setActionForm(action){
            let form = document.getElementById("auth-form");
            if (action === 'login'){
                form.action = "{{ url_for('auth.login') }}";
                form.method = 'post';
                form.submit();
            }
            else if (action === 'register'){
                form.action = "{{ url_for('auth.register') }}";
                form.method = 'post';
                form.submit();
            }
        }
    </script>
{% endblock %}