{% extends 'base.html' %}

{% block title %}
Odred Izviđača "{{ odred_name }}"
{% endblock %}

{% block content %}

<h2>Odreda Izviđača<br>"{{ odred_name }}"</h2>
<hr>
<table>
    <caption>Članovi:</caption>
    <thead>
        <tr>
            <th>Ime i prezime</th>
            <th>Korisničko ime</th>
            <th>Kategorija</th>
            <th>Datum rođenja</th>
            <th>Datum upisa</th>
            <th>Broj telefona</th>
            <th>E-pošta</th>
            <th>Adresa</th>
            <th>Četa</th>
            <th>Vod</th>
            <th>Plaćena članarina</th>
        </tr>
    </thead>
    <tbody>
{% for user in users %}
        <tr class="user-row" onclick='window.location.href=`{{ url_for("odred.editClan", id=user.id) }}`'>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>
            {% set dob = user.dob %}
            {% set age = now.year - dob.year - ((now.month, now.day) < (dob.month, dob.day)) %}
           {% if current_user.gender == 'M' %}
            {% if age <= 11 %}Poletarac{% elif age <= 15 %}Mladji izviđač{% elif age <= 19 %}Stariji izviđač{% elif age <= 25 %}Rover{% else %}Brdjanin{% endif %}
            {% elif current_user.gender == "Z" %}
            {% if age <= 11 %}Pčelica{% elif age <= 15 %}Mlađa planinka{% elif age <= 19 %}Starija planinka{% elif age <= 25 %}Roverka{% else %}Brđanka{% endif %}
            {% endif %}
            </td>
            <td>{{ user.dob.day }}.{{ user.dob.month }}.{{ user.dob.year }}.</td>
            <td>{{ user.join_date.day }}.{{ user.join_date.month }}.{{ user.join_date.year }}.</td>
            <td>
                <a href="tel:+{{ user.phone_number }}">
                    {{ user.phone_number }}
                </a>
            </td>
            <td>
                <a href="mailto:{{ user.email }}">
                    {{ user.email }}
                </a>
            </td>
            <td>{{ user.address }}</td>
            <td>{{ user.vod.ceta.name }}</td>
            <td>{{ user.vod.name }}</td>
             <td>
                {% if user.has_paid %}
                <span class="good">DA</span>
                {% else %}
                <span class="bad">NE</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <hr>
{% if current_user.role == "admin" %}
    <table style="margin: auto;">
    <caption>Vodovi:</caption>
    <thead>
        <tr>
            <th>Naziv voda</th>
            <th>Vodnik</th>
            <th>Četa</th>
            <th>Vođa čete</th>
        </tr>
    </thead>
    <tbody>
{% for vod in vods %}
        <tr class="user-row" onclick='window.location.href=`{{ url_for("odred.vodInfo", id=vod.id) }}`'>
            <td>{{ vod.name }}</td>
            <td>{{ vod.vodnik.first_name }} {{ vod.vodnik.last_name }}</td>
            <td>{{ vod.ceta.name }}</td>
            <td>{{ vod.ceta.vodja.first_name }} {{ vod.ceta.vodja.last_name }}</td>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<br>
{% if current_user.role == "admin" %}
<input type="button" value="Dodaj novog člana" class="btn" onclick="window.location.href = `{{ url_for('odred.addClan') }}`">
<a class="btn btn-link" href='{{ url_for("program.add_program") }}'>Položeni program članova</a>

<hr>
<input type="button" value="Kreiraj vod/četu" class="btn" onclick="window.location.href = `{{ url_for('odred.addCetaVod') }}`" />
<input type="button" value="Upravljaj pozicijama" class="btn" onclick="window.location.href = `{{ url_for('odred.editRoles') }}`" />

<hr>


{% endif %}
{% if current_user.role != "savez_admin" %}
    <input type="button" value="Nazad" class="btn" onclick="window.location.href = `{{ url_for('odred.odred') }}`">
{% else %}
    <a href="{{ url_for('savez.savezDashboard') }}" class="btn btn-link">
        Nazad
    </a>
{% endif %}

{% endblock %}