{% extends "base.html" %}

{% block title %}
Odred
{% endblock %}

{% block content %}

<div class="dash">
    <div class="img-col">
        <img src="/static/logo_dark.png" alt="Fotografija">
        <h2 class="ime-prezime">
            Odred Izviđača "{{ current_user.odred.name }}"
        </h2>
    </div>

    <div class="data-col">
        <div class="columns">
            <div class="left-col">
                <table>
                    <caption>
                        Opšte informacije
                    </caption>
                    <tr>
                        <td>Datum Osnivanja:</td>
                        <td>{{ current_user.odred.founded_at }}</td>
                    </tr>
                    <tr>
                        <td>Mesto:</td>
                        <td>{{ current_user.odred.city }}</td>
                    </tr>
                    <tr>
                        <td>E-Pošta:</td>
                        <td>{{ current_user.odred.email }}</td>
                    </tr>
                    <tr>
                        <td>Adresa:</td>
                        <td>{{ current_user.odred.address }}</td>
                    </tr>
                </table>
            </div>
            <div class="right-col">
                <table>
                    <caption>
                        Informacije o organizaciji
                    </caption>
                    <tr>
                        <td>Starešina odreda: </td>
                        <td>{{ current_user.odred.staresina.first_name }} {{ current_user.odred.staresina.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Načelnik odreda:</td>
                        <td>{{ current_user.odred.nacelnik.first_name }} {{ current_user.odred.nacelnik.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Status u savezu:</td>
                        <td>{{ current_user.odred.status }}</td>
                    </tr>
                    <tr>
                        <td>Broj članova:</td>
                        <td>{{ broj_clanova }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="button-row">

        </div>
    </div>
</div>

<div class="alerts">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert alert-{{ category }}">{{ category }}: {{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}