{% extends "base.html" %}

{% block title %}
Moj Program
{% endblock %}

{% block content %}
    <h1>Položeni program</h1>
    <hr/>
    <div class="achivements" id="achivements">
        <h3>Letovi</h3>
        <div class = "program-col">
            {% if current_user.let_level > 0 %}
            <div id="let_vrapca">
                <img src="/static/let_vrapca.png" alt="let_vrapca">
            </div>
            {% endif %}
            {% if current_user.let_level > 1 %}
            <div id="let_laste">
                <img src="/static/let_laste.png" alt="let_laste">
            </div>
            {% endif %}
            {% if current_user.let_level > 2 %}
            <div id="let_orla">
                <img src="/static/let_orla.png" alt="let_orla">
            </div>
            {% endif %}
    </div>
        <hr/>
        <h3>Zvezde</h3>
        <div class="program-col">
            {% if current_user.zvezda_level > 0 %}
            <div id ="prva_zvezda">
                <img src="/static/prva_zvezda.png" alt="prva_zvezda">
            </div>
            {% endif %}
            {% if current_user.zvezda_level > 1 %}
            <div id="druga_zvezda">
                <img src="/static/druga_zvezda.png" alt="druga_zvezda">
            </div>
            {% endif %}
            {% if current_user.zvezda_level > 2 %}
            <div id="treca_zvezda">
                <img src="/static/treca_zvezda.png" alt="treca_zvezda">
            </div>
            {% endif %}
        </div>
    <hr/>
    <h3>Krinovi</h3>
    <div class="program-col">
        {% if current_user.krin_level > 0 %}
            <div id ="prvi_krin">
                <img src="/static/prvi_krin.png" alt="prvi_krin">
            </div>
        {% endif %}
        {% if current_user.krin_level > 1 %}
            <div id="drugi_krin">
                <img src="/static/drugi_krin.png" alt="drugi_krin">
            </div>
        {% endif %}
        {% if current_user.krin_level > 2 %}
            <div id="treci_krin">
                <img src="/static/treci_krin.png" alt="treci_krin">
            </div>
        {% endif %}
        </div>
    <hr/>
    </div>
    <div class="skills">
        <table id="skills_table">
            <caption>Veštine - Veštarstva - Specijalnosti</caption>
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Nivo</th>
                    <th>Datum priznanja</th>
                </tr>
            </thead>
            <tbody>
                {% for skill in skills %}
                <tr>
                    <td>{{ skill.name }}</td>
                    <td>{{ skill.level }}</td>
                    <td>{{ skill.date_got.strftime('%d.%m.%Y') }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <a href="{{ url_for('dashboard.dashboard') }}" class="btn btn-link">
        Nazad
    </a>

{% endblock %}