{% extends "base.html" %}

{% block title %}
Program
{% endblock %}

{% block content %}
    <a href="{{ url_for('dashboard.dashboard') }}" class="btn btn-link">
        Nazad
    </a>

<div class="alerts">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert alert-{{ category }}">{{ category }}: {{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}