{% extends "base.html" %}

{% block title %}
Moj Program
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='program-style.css') }}" />
{% endblock %}

{% block content %}
<div class="icon-wrapper">
  <a href="/dashboard"><img src="/static/logo_green.png" alt="Ikona" class="icon-small" /></a>
</div>

<div class="program-columns">
  <!-- Položeni program -->
  <div class="column awards">
    <h2>Položeni program</h2>

    <section>
      <h3>Letovi</h3>
      <div class="icons-row">
          <div class="icon"><img src="/static/let_vrapca_n.png" alt="let_vrapca" {% if current_user.let_level < 1 %} style="filter: grayscale(1.0)" {% endif %}></div>
          <div class="icon"><img src="/static/let_laste_n.png" alt="let_laste" {% if current_user.let_level < 2 %} style="filter: grayscale(1.0)" {% endif %}></div>
          <div class="icon"><img src="/static/let_orla_n.png" alt="let_orla" {% if current_user.let_level < 3 %} style="filter: grayscale(1.0)" {% endif %}></div>
      </div>
    </section>

    <section>
      <h3>Zvezde</h3>
      <div class="icons-row">
          <div class="icon"><img src="/static/prva_zvezda_n.png" alt="prva_zvezda" {% if current_user.zvezda_level < 1 %} style="filter: grayscale(1.0)" {% endif %}></div>
          <div class="icon"><img src="/static/druga_zvezda_n.png" alt="druga_zvezda" {% if current_user.zvezda_level < 2 %} style="filter: grayscale(1.0)" {% endif %}></div>
          <div class="icon" ><img src="/static/treca_zvezda_n.png" alt="treca_zvezda" {% if current_user.zvezda_level < 3 %} style="filter: grayscale(1.0)" {% endif %}></div>
      </div>
    </section>

    <section>
      <h3>Krinovi</h3>
      <div class="icons-row">
          <div class="icon"><img src="/static/prvi_krin_n.png" alt="prvi_krin" {% if current_user.krin_level < 1 %} style="filter: grayscale(1.0)" {% endif %}></div>
          <div class="icon"><img src="/static/drugi_krin_n.png" alt="drugi_krin" {% if current_user.krin_level < 2 %} style="filter: grayscale(1.0)" {% endif %}></div>
          <div class="icon"><img src="/static/treci_krin_n.png" alt="treci_krin" {% if current_user.krin_level < 3 %} style="filter: grayscale(1.0)" {% endif %}></div>
      </div>
    </section>
  </div>

  <div class="column skills">
    <h2>Poseban program</h2>
    <div class="cards-container">
      {% for skill in skills %}
        <div class="card">
          <div class="card-title">{% if skill.level == 1 %}Veština {% endif %} {% if skill.level == 2 %} Veštarstvo {% endif %} {% if skill.level == 3 %} Specijalnost {% endif %}{{ skill.name }}</div>
          <div class="card-date">{{ skill.date_got.strftime('%d.%m.%Y') }}</div>
        </div>
      {% else %}
        <p>Nema položenih specijalnih programa.</p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
