{% extends 'base.html' %}

{% block title %}
Savez Dashboard
{% endblock %}

{% block content %}
    <table>
        <caption>Spisak saveza</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Naziv</th>
                <th>Mesto</th>
                <th>Adresa</th>
                <th>Godina osnivanja</th>
                <th>Starešina</th>
                <th>Načelnik</th>
                <th>Broj članova</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for (odred,broj) in odredi %}
            <tr>
                <td><a href="/editSavez/{{ odred.id }}">{{ odred.id }}</a></td>
                <td>{{ odred.name }}</td>
                <td>{{ odred.city }}</td>
                <td>{{ odred.address }}</td>
                <td>{{ odred.founded_at }}</td>
                <td>{{ odred.staresina.id }}</td>
                <td>{{ odred.nacelnik.id }}</td>
                <td>{{ broj[0] }}</td>
                <td>{{ odred.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('addSavez') }}">
        Dodaj novi savez
    </a>
{% endblock %}