{% extends 'base.html' %}

{% block title %}
Savez Dashboard
{% endblock %}

{% block content %}
    <h2>Savez Izviđača Srbije</h2>
    <hr>
    <table>
        <caption>Spisak odreda</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Naziv</th>
                <th>Mesto</th>
                <th>Adresa</th>
                <th>Godina osnivanja</th>
                <th>Starešina</th>
                <th>Načelnik</th>
                <th>Broj članova</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for (odred,broj) in odredi %}
            <tr>
                <td><a href="/editOdred/{{ odred.id }}">{{ odred.id }}</a></td>
                <td>{{ odred.name }}</td>
                <td>{{ odred.city }}</td>
                <td>{{ odred.address }}</td>
                <td>{{ odred.founded_at.day }}.{{ odred.founded_at.month }}.{{ odred.founded_at.year }}.</td>
                <td>{{ odred.staresina.first_name }} {{ odred.staresina.last_name }}</td>
                <td>{{ odred.nacelnik.first_name }} {{ odred.nacelnik.last_name }}</td>
                <td><a href="odredDashboard/{{ odred.id }}">{{ broj[0] }}</a></td>
                <td>{{ odred.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('savez.addOdred') }}">
        <input type="button" value="Dodaj odred" class="btn" />
    </a>
{% endblock %}