{% extends 'base.html' %}

{% block title %}
Savez Dashboard
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Naziv</th>
                <th>Mesto</th>
                <th>Adresa</th>
                <th>Godina osnivanja</th>
                <th>Starešina</th>
                <th>Načelnik</th>
{#                <th>Broj članova</th>#}
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for odred in odredi %}
            <tr>
                <td>{{ odred.id }}</td>
                <td>{{ odred.name }}</td>
                <td>{{ odred.city }}</td>
                <td>{{ odred.address }}</td>
                <td>{{ odred.founded_at }}</td>
                <td>{{ odred.staresina.id }}</td>
                <td>{{ odred.nacelnik.id }}</td>
{#                <td>{{ broj }}</td>#}
                <td>{{ odred.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}